.projetos-container {
    background: var(--primary-color);
    padding: 100px 30px 90px 30px;
    width: 100%;
}

.projetos-content {
    max-width: 900px;
    margin: 0 auto;
}

/* HEADER PROJETOS */
.header-projetos {
    color: #FFFFFF;
    text-align: center;
    line-height: 25px;
    padding-bottom: 50px;
}

.header-projetos img {
    transition: .2s;
}

.header-projetos img:hover {
    opacity: .5;
}

.header-projetos h1{
    font-size: 2.3em;
}

.header-projetos p {
    margin-top: 50px;
    font-size: 1.2em;
}

.header-projetos h1::before {
    content: '';
    display: inline-block;
    position: relative;
    bottom: 2px;
    right: 5px;
    height: 20px;
    width: 20px;
    background: var(--tertiary-color);
}
/* FIM HEADER PROJETOS */

/* BODY PROJETOS */
.body-projetos {
    display: flex;
    padding-bottom: 160px;
}

.info-projetos, 
.img-projetos {
    width: 100%;
    background: #FFFFFF;
}

.info-projetos {
    border-radius: 8px 0 0 8px;
    padding: 60px 40px 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: -10px 10px 12px rgb(0,0,0,.3);
}

.titulo-projetos {
    padding-left: 40px;
    position: relative;
}

.titulo-projetos a:hover {
    color: var(--tertiary-color);
    text-decoration: underline;
}

.info-projetos h1 {
    color: var(--tertiary-color);
}

.info-projetos h4 {
    margin-top: 12px;
    font-size: 1.2em;
}

.titulo-projetos::after {
    content: '';
    display: block;
    position: absolute;
    height: 65px;
    top: -4px;
    left: 0;
    width: 10px;
    background: var(--tertiary-color);
}

.descricao-projetos {
    padding: 50px 0 0 40px;
}

button.link-ver-mais {
    background: var(--tertiary-color);
    cursor: pointer;
    width: 100px;
    border-radius: 20px;
    border: none;
    margin: 10px 0 0 30px;
    padding: 12px 16px;
    color: #FFFFFF;
    font-weight: bold;
    display: inline-block;
    transition: background .3s;
}

button.link-ver-mais:hover {
    color: var(--tertiary-color);
    background: #FFFFFF;
    border: 1px solid var(--tertiary-color);
    padding: 11px 15px;
}



/* IMG PROJETOS */
.img-projetos {
    height: 400px;
    border-radius: 0 8px 8px;
}

.bg-projeto  {
    height: 100%;
    background: url('/img/joetech.png');
    background-position: center;
    background-size: cover;
    box-shadow: -12px 12px 12px rgb(0, 0, 0, .3);
    border-radius: 8px;
    margin: 40px -40px 0 0;
    transition: .3s;
    animation: animaProjeto .8s ease-in infinite alternate;
}

@keyframes animaProjeto {
    0% {
        transform: translateY(-8px);
        box-shadow: -12px 12px 12px rgb(0, 0, 0, .6);

    }
    100% {
        transform: translateY(0px);
    }
}

.bg-projeto:hover {
    box-shadow: -12px 12px 12px rgb(0, 0, 0, .6);
    animation: none;
    cursor: pointer;
}

.bg-art-projeto {
    background: url('/img/art-bootstrap5.png');
    background-size: cover;
}

.bg-Wildbeast-projeto {
    background: url('/img/Wildbeast-projeto.png');
    background-size: cover;
}

.bg-animais-projeto {
    background: url('/img/animais-fantásticos-bg.png');
    background-size: cover;
}

.bg-bikcraft-projeto {
    background: url('/img/bikcraft.png');
    background-size: cover;
}

@media (max-width: 1000px) {
    .info-projetos {
        display: block;
        border-radius: 8px;
        height: 600px;
    }

    .body-projetos-top {
        margin-top: -140px;
    }

    .body-projetos {
        flex-direction: column;
        padding-bottom: 0;
    }

    .projetos-content {
        max-width: 600px;
    }

    .img-projetos {
        background: transparent;
    }

    .bg-projeto {
        margin: -250px -40px 0 20px;
    }

    .titulo-projetos {
        display: flex;
        justify-content: space-between;
    }
    .titulo-projetos a {
        padding: 0;
    }
}

@media (max-width: 740px) {
    .body-projetos-top {
        margin-top: -20px;
    }

    .projetos-content {
        max-width: 400px;
    }    

    .img-projetos {
        height: 300px;
    }

    .info-projetos {
        height: 400px;
    }

    .bg-projeto {
        margin: -80px -40px 0 10px;
    }

    .descricao-projetos {
        padding: 20px 0 0 40px;
    }

    .link-ver-mais {
        padding: 20px 0 0 40px ;
    }
    
}

@media (max-width: 500px) {
    .projetos-content {
        max-width: 350px;
    }

    .bg-projeto {
        margin: -95px -40px 0 10px;
    }

    .img-projetos {
        width: 93%;
    }
}

@media (max-width: 400px) {
    .bg-projeto {
        margin: -40px -40px 0 10px;
    }

    .body-projetos-top {
        margin-top: 90px;
    }
    
}