header {
    width: 100%;
    height: 5.75rem;
    background: #FFFFFF;
    padding: 32px 40px 32px 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: auto;
}

.logo {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: .8em;
}

@media (max-width: 540px){
    .logo {
        flex-direction: column;

    }
    header {
        padding: 32px 40px 80px 60px;
        font-size: .9em;
    }
}

.logo span {
    font-size: 1.3em;
}

.logo h1 {
    position: relative;
}

.logo h1::before{
    content: '';
    display: inline-block;
    position: absolute;
    top: 3px;
    left: -25px;
    height: 16px;
    width: 16px;
    background: #000000;
}

.nav-header {
    display: flex;
    align-items: center;
    font-size: .8em;
}

.nav-header a {
    color: #000000;
    display: block;
    padding: 12px 16px;
}

.nav-header a.active-link {
    color: var(--tertiary-color);
}

.nav-header a:hover {
    color: var(--tertiary-color);
}

.nav-header a::after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background: var(--tertiary-color);
    margin-top: 4px;
    transition: 0.3s;
}

.nav-header a.active-link::after {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    background: var(--tertiary-color);
    margin-top: 4px;
    transition: 0.3s;
}

.nav-header a:hover::after {
    width: 100%;
}

/****** Menu mobile ********/
.active-link-mobile {
    text-decoration: underline;
}

.menu-none {
    display: none;
}

.menu-mobile-icon .menu-block {
    display: block;
}

.menu-closed {
    display: none;
}

.menu-mobile-icon button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.menu-mobile-icon {
    display: none;
}

.menu-mobile-icon img {
    width: 32px;
}

@media (max-width: 1000px) {
    .nav-header {
        display: none;
        
    }

    .menu-mobile-icon {
        display: block;
    }
}

@media (min-width: 1000px) {
    header .mobile-menu ul {
        display: none;
    }
}

.header-container .menu-ativo {
    display: block;
}

.mobile-menu {
    display: none;
    width: 130px;
    background: #FFFFFF;
    text-align: center;
    border-radius: 8px;
    position: absolute;
    right: 30px;
    animation: anima-menu .2s ease-in;
    box-shadow: -3px 3px 3px rgb(0, 0, 0, .4);
}

@keyframes anima-menu {
    0% {
        transform: translateY(-40px);
        opacity: 0;
    }
    100% {
        transform: translateY(20px);
        opacity: 1;
    }
}

.mobile-menu ul {
    display: flex;
    flex-direction: column;
}

.mobile-menu ul .link1 {
    animation: anima-menu-mobile .3s ease-in;
} 

.mobile-menu ul .link2 {
    animation: anima-menu-mobile .4s ease-in;
} 

.mobile-menu ul .link3 {
    animation: anima-menu-mobile .5s ease-in;
} 

.mobile-menu ul .link4 {
    animation: anima-menu-mobile .6s ease-in;
} 

.mobile-menu ul .link5 {
    animation: anima-menu-mobile .7s ease-in;
} 

@keyframes anima-menu-mobile {
    0% {
        transform: translatex(-70px);
        opacity: 0;
    }
    100% {
        transform: translatex(0);
        opacity: 1;
    }
}

.mobile-menu a {
    display: block;
    color: #111111;
    width: 100%;
    padding: .8rem 0;
}

.mobile-menu a:hover {
    text-decoration: underline;
}